<!-- Service Start -->
<section class="service-one" style="background-image: url(assets/images/shapes/service-bg-1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <div class="section-title__triangle">
                        <span class="section-title__triangle-left"></span>
                        <span class="section-title__triangle-right"></span>
                    </div>
                    <h5 class="section-title__tagline">our services</h5>
                    <h2 class="section-title__title">what we offer</h2>
                </div><!-- section-title -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                <div class="service-one__item">
                    <div class="service-one__item__wrapper">
                        <div class="service-one__item__hover" style="background-image: url(assets/images/shapes/service-1-hover-shape.png);"></div>
                        <div class="service-one__item__number">Service</div><!-- /.service-number -->
                        <div class="clearfix"></div>
                        <div class="service-one__item__icon">
                            <span class="icon-website-design"></span>
                        </div><!-- /.service-icon -->
                        <h3 class="service-one__item__title">
                            <a href="website-designing.html">Website Designing</a>
                        </h3><!-- /.service-title -->
                        <p class="service-one__item__text">Sed quia magni doles eos qui ration volupta tem sequi.</p><!-- /.service-content -->
                    </div>
                </div><!-- /.service-card-one -->
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="200ms">
                <div class="service-one__item">
                    <div class="service-one__item__wrapper">
                        <div class="service-one__item__hover" style="background-image: url(assets/images/shapes/service-1-hover-shape.png);"></div>
                        <div class="service-one__item__number">Service</div><!-- /.service-number -->
                        <div class="clearfix"></div>
                        <div class="service-one__item__icon">
                            <span class="icon-website-development"></span>
                        </div><!-- /.service-icon -->
                        <h3 class="service-one__item__title">
                            <a href="website-development.html">Website Development</a>
                        </h3><!-- /.service-title -->
                        <p class="service-one__item__text">Sed quia magni doles eos qui ration volupta tem sequi.</p><!-- /.service-content -->
                    </div>
                </div><!-- /.service-card-one -->
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="300ms">
                <div class="service-one__item">
                    <div class="service-one__item__wrapper">
                        <div class="service-one__item__hover" style="background-image: url(assets/images/shapes/service-1-hover-shape.png);"></div>
                        <div class="service-one__item__number">Service</div><!-- /.service-number -->
                        <div class="clearfix"></div>
                        <div class="service-one__item__icon">
                            <span class="icon-mobile-application"></span>
                        </div><!-- /.service-icon -->
                        <h3 class="service-one__item__title">
                            <a href="mobile-application.html">Mobile Application</a>
                        </h3><!-- /.service-title -->
                        <p class="service-one__item__text">Sed quia magni doles eos qui ration volupta tem sequi.</p><!-- /.service-content -->
                    </div>
                </div><!-- /.service-card-one -->
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="400ms">
                <div class="service-one__item">
                    <div class="service-one__item__wrapper">
                        <div class="service-one__item__hover" style="background-image: url(assets/images/shapes/service-1-hover-shape.png);"></div>
                        <div class="service-one__item__number">Service</div><!-- /.service-number -->
                        <div class="clearfix"></div>
                        <div class="service-one__item__icon">
                            <span class="icon-digital-marketing"></span>
                        </div><!-- /.service-icon -->
                        <h3 class="service-one__item__title">
                            <a href="digital-marketing.html">Digital Marketing</a>
                        </h3><!-- /.service-title -->
                        <p class="service-one__item__text">Sed quia magni doles eos qui ration volupta tem sequi.</p><!-- /.service-content -->
                    </div>
                </div><!-- /.service-card-one -->
            </div>
        </div>
        <div class="text-center wow fadeInUp" data-wow-delay="500ms">
            <h5 class="service-one__text">
                Digital Agency services built specifically for your business.
                <a href="services.html" class="nisoz-btn">
                    <span class="nisoz-btn__shape"></span><span class="nisoz-btn__shape"></span><span class="nisoz-btn__shape"></span><span class="nisoz-btn__shape"></span>
                    <span class="nisoz-btn__text">Find Your Solution</span>
                </a><!-- /.btn -->
            </h5>
        </div>
    </div>
</section>
<!-- Service Start -->