---
layout: creative-website
page_id: faq
permalink: /faq
classes: home
lang: en
---
<section class="page-header">
    <div class="page-header__bg"></div><!-- /.page-header__bg -->
    <div class="page-header__shape1"></div><!-- /.page-header__shape1 -->
    <div class="page-header__shape2"></div><!-- /.page-header__shape1 -->
    <div class="page-header__shape3 wow slideInRight" data-wow-delay="300ms"></div><!-- /.page-header__shape3 -->
    <div class="container">
        <ul class="page-header__breadcrumb list-unstyled">
            <li><a href="/">Home</a></li>
            <li><span>Faqs</span></li>
        </ul><!-- /.page-breadcrumb list-unstyled -->
        <h2 class="page-header__title">Faqs</h2><!-- /.page-title -->
    </div><!-- /.container -->
</section><!-- /.page-header -->
<!-- Accordian Start -->
<section class="accrodion-one faq-page">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 wow fadeInLeft" data-wow-delay="200ms">
                <div class="faq-page__help">
                    <div class="faq-page__help__icon"><span class="icon-phone-call-1"></span></div>
                    <h3 class="faq-page__help__title">Do you still<br> have questions?</h3>
                    <p class="faq-page__help__text">Call Anytime {% include commons/phone-partial.html %}</p>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 wow fadeInRight" data-wow-delay="300ms">
                <div class="accrodion-one__wrapper nisoz-accrodion" data-grp-name="nisoz-accrodion">
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4>What happens to my data if I cancel?</h4>
                        </div><!-- /.accordian-title -->
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>There are many variations of passages of available but the have suffered
                                    alteration in that some form by injected randomised words which don’t
                                    look even as slightly believable now.</p>
                            </div><!-- /.accordian-content -->
                        </div>
                    </div><!-- /.accordian-item -->
                    <div class="accrodion active">
                        <div class="accrodion-title">
                            <h4>What are the different types of marketing solutions?</h4>
                        </div><!-- /.accordian-title -->
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>There are many variations of passages of available but the have suffered
                                    alteration in that some form by injected randomised words which don’t
                                    look even as slightly believable now.</p>
                            </div><!-- /.accordian-content -->
                        </div>
                    </div><!-- /.accordian-item -->
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4>How often should i work on the digital marketing?</h4>
                        </div><!-- /.accordian-title -->
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>There are many variations of passages of available but the have suffered
                                    alteration in that some form by injected randomised words which don’t
                                    look even as slightly believable now.</p>
                            </div><!-- /.accordian-content -->
                        </div>
                    </div><!-- /.accordian-item -->
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4>Are social media good for the business growth?</h4>
                        </div><!-- /.accordian-title -->
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>There are many variations of passages of available but the have suffered
                                    alteration in that some form by injected randomised words which don’t
                                    look even as slightly believable now.</p>
                            </div><!-- /.accordian-content -->
                        </div>
                    </div><!-- /.accordian-item -->
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4>What activities are done in the development?</h4>
                        </div><!-- /.accordian-title -->
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>There are many variations of passages of available but the have suffered
                                    alteration in that some form by injected randomised words which don’t
                                    look even as slightly believable now.</p>
                            </div><!-- /.accordian-content -->
                        </div>
                    </div><!-- /.accordian-item -->
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4>What is the most important thing in a designing?</h4>
                        </div><!-- /.accordian-title -->
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>There are many variations of passages of available but the have suffered
                                    alteration in that some form by injected randomised words which don’t
                                    look even as slightly believable now.</p>
                            </div><!-- /.accordian-content -->
                        </div>
                    </div><!-- /.accordian-item -->
                    <div class="accrodion">
                        <div class="accrodion-title">
                            <h4>What is the purpose of a UI / UX?</h4>
                        </div><!-- /.accordian-title -->
                        <div class="accrodion-content">
                            <div class="inner">
                                <p>There are many variations of passages of available but the have suffered
                                    alteration in that some form by injected randomised words which don’t
                                    look even as slightly believable now.</p>
                            </div><!-- /.accordian-content -->
                        </div>
                    </div><!-- /.accordian-item -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Accordian End -->
<!-- Call To Action Start -->
<section class="cta-two cta-two-about">
    <div class="container">
        <div class="cta-two__info-top wow fadeInUp" data-wow-delay="200ms">
            <div class="cta-two__bg" style="background-image: url(assets/images/shapes/cta-bg-2.png);"></div>
            <div class="section-title">
                <h2 class="section-title__title">Let’s start working together.<br> Get in touch with us!</h2>
            </div><!-- section-title -->
            <a href="/contact" class="cta-two__icon"><span class="icon-long-arrow"></span></a>
        </div>
        <h5 class="cta-two__info-bottom wow fadeInDown" data-wow-delay="300ms">
            or call us to get free quote: {% include commons/phone-partial.html %}
        </h5>
    </div>
</section>
<!-- Call To Action End -->