<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <title>{{ page.title }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="description" content="BLOG of Creative Pioneers organization." />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <link rel="shortcut icon" href="/assets/images/favicon.ico" />   
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png" />
        
        <link rel="stylesheet" type="text/css"  href="/assets/style.css" />        
    </head>

    <body class="page-background">

        <div class="site-wrapper">                  
            <div class="doc-loader"></div>  

            <div class="menu-holder-front">     
                <div class="header-logo">
                    <a href="index.html">
                        <img src="/assets/images/logo.jpg" alt="Creative Pioneers Logo">
                    </a>               
                </div>

                <div class="toggle-holder">
                    <div id="toggle">
                        <div class="menu-line"></div>
                    </div>                
                </div>   
            </div> 

            <div class="menu-holder-back">               
                <div class="menu-wrapper-back">               
                    <nav id="header-main-menu"></nav>  
                    <div class="menu-right-text">
                        <p class="menu-text-title">EMAIL</p>
                        <div class="menu-text">
                            ping@creative-pioneers.org
                        </div>
                        <br>
                        <br>
                        <p class="menu-text-title">LOCATION</p>
                        <div class="menu-text">
                            WANTED.solutions s.r.o. <br />
                            Příčná 1892/4 <br />
                            110 00 Prague<br />
                            Czech Republic
                        </div>
                        <br>
                        <div class="social-holder ">
                            <a class="social-text" href="#">TWITTER</a>
                            <a class="social-text" href="#">LINKEDIN</a>
                            <!--<a class="social-text" href="#">INSTAGRAM</a>-->
                        </div>
                    </div>
                </div>
            </div>                      

            <!-- Page Content Holder -->
            <div id="content" class="site-content">
                <div class="content-holder center-relative content-1170">
                    <h1 class="entry-title page-title">
                        {{ page.title}}
                    </h1>
                    <img src="images/post_01.jpg" alt="" />
                    <p class="img-caption">
                        Self portrait of a model Anna Williams 
                    </p>
                    <div class="single-content-wrapper content-960 center-relative top-70">      
                        <div class="post-info-wrapper">                                 
                            <div class="entry-info">
                                <div>
                                    <div class="text-holder">
                                        AUTHOR
                                    </div>
                                    <div class="author-nickname">
                                        <a href="#" title="Posts by CocoBasic" rel="author">
                                            CocoBasic
                                        </a>       
                                    </div> 
                                </div> 
                                <div> 
                                    <div class="text-holder">
                                        DATE
                                    </div>
                                    <div class="entry-date published">
                                        March 21, 2018
                                    </div>
                                </div>
                                <div>
                                    <div class="text-holder">
                                        CATEGORY
                                    </div>
                                    <div class="cat-links">
                                        <ul>
                                            <li>
                                                <a href="#">Blog</a>
                                            </li>                                            
                                        </ul>                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="entry-content">   
                            {{ content }}
                        </div>
                        <div class="clear"></div>
                    </div>
                </div> 
            </div> 
            <!-- End Page Content Holder --> 

            <footer class="footer">
                <div class="footer-content center-relative">

                    <div class="footer-logo">
                        <img src="/assets/images/logo.jpg" alt="Creative Pioneers Logo" />
                    </div>        

                    <div class="copyright-holder">
                        © 2024 <a href="https://wanted.solutions">WANTED.solutions s.r.o.</a> | All rights reserved.            
                    </div>
                </div>
            </footer>

        </div>

        <!--Load JavaScript-->
        <script src="/assets/js/jquery.js"></script>			
        <script src='/assets/js/jquery.smartmenus.min.js'></script>                                 
        <script src='/assets/js/isotope.pkgd.js'></script>                                    
        <script src='/assets/js/jquery.prettyPhoto.js'></script>                                            
        <script src='/assets/js/swiper.min.js'></script>                        
        <script src='/assets/js/main.js'></script>
    </body>
</html>